/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
:root{
--color-scritte: white;
--blu: rgb(82,105,254);
--rosa: rgb(217, 175, 255);
}

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

a {
	text-decoration: none;
}

body {
	background: linear-gradient(-45deg, var(--blu), var(--rosa));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer{
	bottom: 0;
	right: 0;
	left: 0;
	height: 100px;
	width: 100%;
	margin-left: 0%;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: white;
	clear: left;
	background-color:#353535;
}

footer ul{
	margin-top: 20px;
	list-style-type: none; /*levo il puntino a sinistra*/
	display: flex;
	justify-content:start;
}



footer ul li{
	display: inline-block;
	padding-left: 40px;
}

footer a:visited{
	color: white;
}

/* spazio  centrale*/
.main-content{
	background-color: transparent;
	margin-top: 100px;
	padding-bottom: 100px;
	
}

/* elementi della parte main delle pag*/

.main_element{
	color: var(--color-scritte);
	padding-top: 20px;	
}

.main_element h1 {
	size: 1.5rem;
	color: black;
}

.main_element p {
	size: 1rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* sezioni  */

.unisciti{
	
	text-align: center;
	
}

.profilo-blog{
	
	text-align: center;
}

.register_option{
	text-align: center;
}

.cloud-organization{
	color:rebeccapurple ;
	font-size: large;
	padding-top: 12%;
	text-align: center;
	height: 360px;
	width: 690px
}



.register_button{

	background-color:var(--blu) ;
	padding: 0px 30px;
    color: var(--main-color);
    font-size: 13px;
    font-weight: bold;
	padding-left: 60px;
	padding-right: 60px;
    border-color: var(--color-scritte);
	border-style:groove;
	border-width: 3px;
    border-radius: 20px;
    line-height: 10px;
	display:inline-flex;
}

/* spazio home sinistra (navbar)  */

#nav{
	position: absolute;
	top: 20px;
	width: 100%;
    
}

/* navbar style*/

nav ul{
	list-style-type: none; /*levo il puntino a sinistra*/
	display: flex;
	justify-content: center;
}

nav ul li{
	margin-bottom: 5%;
	display: inline-block;
	padding-left: 40px;
}

nav ul li a{
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	padding: 5px 10px;
}

nav ul li a:hover{
	background-color: white;
	color: black;
}

/* Search */

#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 968px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
	line-height: normal;
}



#menu a {
	display: block;
	margin-top: 10px;
	margin-right: 3px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	border: none;
}

#menu a.highlight {
	color: #e88c8c;
}


#menu a:hover {
	text-decoration: underline;
}

/* Who */
.who{
	font-size: 35px;
	color: white;
}



/* Static */

.static {
	padding: 60px 20px 20px 20px;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 60px 20px 0 0;
}

#pagination {
	text-align :center;
}

#pagination a {
	border-bottom:none
}

/* Forms */

.formerror {
    background: none repeat scroll 0 0 #FFECEC;
    border: 3px solid #f93d00;
    height: auto;
    margin: 0 0 1px;
    text-align: center;

}

.errors {
	color: white;
        font-size: 12px;
}

.errors ul {
	line-height: 100%;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	padding: 60px 0 0 20px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 32px;
	padding: 8px 0 0 30px;
	background: url(images/img11.gif) no-repeat left top;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #417FDA;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

/* Calendar */



#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}


.tema_blog{
	color: var(--color-scritte);
	background-color: red;
	width:fit-content;

}

.stato_blog{
	float: right;
	color: black;
	background-color: rebeccapurple;

}

/* pop up */

.popup .overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display:none ;
}

.popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	background: linear-gradient(136deg,rgb(82,105,254) 0%, rgb(255,255,255) 100%);
	width: 450px;
	height:auto;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 30px;
}

.popup .close-btn{
	position: absolute;
	right:20px ;
	top: 20px;
	width: 30px;
	height: 30px;
	background: black;
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius:50% ;
	cursor: pointer;
}

.popup.active .overlay{
	display: block;
}

.popup.active .content{
	transition: all 600ms ease-in-out;
	transform: translate(-50%,-50%) scale(1);
}




/*  my input form */

.wrap-form{
	margin-left: 38.5%;
	text-align: center;
	height: 180px;
	max-width: 300px;
 	border-radius: 2px;
	padding-left: 55px;
}

.wrap-element-form{
	text-align: center;
	width: 100%;
  	background-color: transparent;
	align-items: center;
}

.label-form{
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 20px;
  	color: var(--color-scritte);
  	line-height: 1,5;
	margin-left: 10px;
}

.subtitleform{
	margin-left: 15px;
	font-size: small;
	color: rebeccapurple

}

.input-form{
	height: 100px;
	display: block;
  	width: 60%;
	max-width: 60%;
	max-height: 300px;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	color: black;
  	line-height: 1.2;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	margin-top: 20px;
	margin-left: 20%;
	padding-bottom: 11%;
	resize: vertical;
}


.container-login-button{
	margin-left: 50%;
	text-align: center;
	max-width: 300px;
}

.container-form-button{
	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	margin-top: 20px;
	margin-bottom: 10px;
}

.form-button{
	color: rebeccapurple;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}

.form-button-newblog{
	color: rebeccapurple;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	
}

.form h1{
	color: black;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform: uppercase;
	padding-left: 15px;
}

/*Css per la form e la pagina di registrazione */
.informazioni-richieste{
	text-align: center;

}

.spaziaturahr{
	border: none;
	height: 60px;
	width: 50%;
	color: none;
	background-color:none
}

.modifica-profilo{
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	color: black;
  	line-height: 1.2;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	height: 20px;
	display: block;
  	width: 60%;
	max-width: 60%;
	margin-top: 20px;
	margin-left: 20%;
	resize: none;
}