/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
:root{
--color-scritte: white;
--color-titolo: black;
--blu: rgb(82, 105, 254);
--rosa: rgb(217, 175, 255);
--arancio: rgb(254,105,82);
--rosso: rgb(255,100,0);
}

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

a {
	text-decoration: none;
}

body {
	background: linear-gradient(-45deg, red,var(--blu));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer{
	bottom: 0;
	right: 0;
	left: 0;
	height: 120px;
	width: 100%;
	margin-left: 0%;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: white;
	clear: left;
	background-color:#353535;
}

footer ul{
	margin-top: 20px;
	list-style-type: none; /*levo il puntino a sinistra*/
	display: flex;
	justify-content:start;
}



footer ul li{
	display: inline-block;
	padding-left: 40px;
}

footer a{
	color: rebeccapurple;
}

footer a:visited{
	color: white;
}

/* spazio  centrale*/
.main-content{
	background-color: transparent;
	margin-top: 100px;
	min-height: 100vh;
	font-family: 'Times New Roman', Times, serif;	
	color: black;
}

/* elementi della parte main delle pag*/

.main_element{
	padding-top: 20px;
	
}

.main_element h1 {
	size: 1.5rem;
	color: black;
}

.main_element p {
	size: 1rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

.info-anagrafica{
	margin-top: 15px;
	color: black;
	text-align: center;
	font-size: 20px;
	max-width: 350px;
}

.info-biografia{
	overflow: auto;
	margin-left: 38.5%;
	background-color: white;
	margin-top: 15px;
	text-align: left;
	font-size: 20px;
	max-width: 350px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black;
}

.titolo{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: black;
}

.sotto-titolo{
	text-align: center;
	font-size: 20px;
	color: white;
}

.cosa-fare{
	text-align: center;
	font-size: 25px;
	font-weight: bold
}


/* sezioni  */

.unisciti{
	text-align: center;	
}

.blog-link a{
	color: white;
	
}

.blog-link a:visited{
	color:white

}

.profilo-blog{
	font-size: large;
	text-align: center;
}

.register_option{
	text-align: center;
}

.cloud-organization{
	color: var(--color-scritte);
	font-size: 20px;
	padding-top: 12%;
	text-align: center;
	height: 360px;
	width: 690px
}

.pollicione{
	margin-top: 2%;
	margin-left: 5%;
	height: 450px;
	width: 550px;
	float: left;
}



.register_button{
	color: black;
	background-color: black;
	padding: 0px 30px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
	padding-left: 60px;
	padding-right: 60px;
    border-color: white;
	border-style: groove;
	border-width: 3px;
    border-radius: 20px;
    line-height: 10px;
	display:inline-flex;
}

.register_button a:visited{
	color: white;
}

/* spazio home sinistra (navbar)  */

#nav{
	position: absolute;
	top: 20px;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
    
}

/* navbar style*/

nav ul{
	list-style-type: none; /*levo il puntino a sinistra*/
	display: flex;
	justify-content: center;
}

nav ul li{
	margin-bottom: 5%;
	display: inline-block;
	padding-left: 40px;
}

nav ul li a{
	font-size: 20px;
	color: black;
	text-transform: uppercase;
	padding: 5px 10px;
}

nav ul li a:hover{
	background-color: white;
	color: black;
	text-decoration: none;
}

/* Who */
.who{
	font-size: 25px;
	color: white;
	text-align: center;
}

/* Where */
.where{
	text-align: center;
}



/* Static */

.static {
	padding: 60px 20px 20px 20px;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 60px 20px 0 0;
}

/* paginazione */

#pagination {
	text-align :center;
	border-style: groove;
	border-color: #353535;
	border-left: none;
	border-right: none;
}

#pagination a {
	border: none
}

/* Forms */

.errors {
	color: white;
        font-size: large;
}

.errors ul {
	line-height: 100%;
}

.tema_blog{
	padding-top: 20px;
	color: white;
	text-transform: uppercase;
}

.contenitoreLogin{
	background-image: url(/images/products/message.webp);
	background-size: contain;
	background-position: 50%;
	margin-left: 39%;
	padding-top: 2%;
	text-align: center;
	width: 350px;
	height: 400px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black;
}

.contenitoreRegistrati{
	background-image: url(/images/products/nuvole.webp);
	background-size: contain;
	margin-left: 34%;
	padding-top: 2%;
	text-align: center;
	width: 500px;
	height: 750px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black;
}

.contenitoreblog{
	overflow: auto;
	min-height: 250px;
	min-width: 500px;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black; 
	margin-left: 34%;
}

.contenitorepost{
	overflow: auto;
	min-height: 100px;
	min-width: 300px;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black; 
	margin-left: 41%;
}

.contenitore_utenti_cercati{
	background-color: white;
	overflow: auto;
	padding-top: 2%;
	min-height: 150px;
	min-width: 350px;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black; 
	margin-left: 38%;
}

.contenitore_anagrafica{
	background-color: white;
	overflow: auto;
	margin-left: 38.5%;
	min-height: 150px;
	min-width: 350px;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black; 
}

.contenitoreamici{
	background-color: white;
	font-size: 20px;
	overflow: auto;
	margin-left: 38%;
	padding-top: 1%;
	min-height: 150px;
	min-width: 350px;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black;
}

.contenitoredatiprofilo{
	font-size: 20px;
	background-color: white;
	overflow: auto;
	margin-left: 39%;
	padding-top: 2%;
	min-height: 220px;
	min-width: 300px;
	width: 350px;
	height: 220px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black;
}

.contenitorebiografia{
	font-size: 20px;
	background-color: white;
	overflow: auto;
	text-align: left;
	margin-left: 39%;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	color: black;
	min-width: auto;
	width: 350px;
	min-height: auto;
}

.contenitoreProprietarioBlog{
	overflow: auto;
	overflow: auto;
	text-align: center;
	border-style: solid;
	width: 500px;
	height: 60px;
	border-width: 4px;
	border-color:black;
	margin-left: 33.5%;
}

.contenitoreDatiPosts{
	overflow: auto;
	padding-top: 1%;
	text-align: center;
	border-style: solid;
	border-width: 4px;
	border-color:black;
}

.contenitoreSelezioneAmici{
	padding-top: 1%;
	overflow: auto;
	font-size: 20px;
	background-color: white;
	color: black;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	margin-left: 40.5%;
	width: 300px;
	height: 200px;
}

.contenitoreNotifiche{
	margin-left: 39%;
	overflow: auto;
	padding-top: 1%;
	background-color: white;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	width: 350px;
	height: 250px;
}

.contenitoreAttivitaUtente{
	overflow: auto;
	background-color: white;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
}

.contenitoreGestioneBlog{
	overflow: auto;
	background-color: white;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
}

.contenitoreStatistiche{
	overflow: auto;
	background-color: white;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
}

.contenitoreStaff{
	padding-top: 2%;
	overflow: auto;
	background-color: white;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
}


/* pop up */

.popup .overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display:none ;
}

.popup .content{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	background: linear-gradient(136deg,rgb(82,105,254) 0%, rgb(255,255,255) 100%);
	width: 450px;
	height:auto;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 30px;
}

.popup .close-btn{
	position: absolute;
	right:20px ;
	top: 20px;
	width: 30px;
	height: 30px;
	background: black;
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius:50% ;
	cursor: pointer;
}

.popup.active .overlay{
	display: block;
}

.popup.active .content{
	transition: all 600ms ease-in-out;
	transform: translate(-50%,-50%) scale(1);
}

/*  my input form */

.wrap-form{
	margin-left: 38.5%;
	text-align: center;
	height: 180px;
	max-width: 300px;
 	border-radius: 2px;
	padding-left: 55px;
}

.wrap-element-form{
	text-align: center;
	width: 100%;
  	background-color: transparent;
	align-items: center;
}

.label-form{
  	font-size: 20px;
  	line-height: 1,5;
	color: black;
}

.input-login{
	line-height: 1,5;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	color: black;
}


.input-form-login{
	height: 300px;
	display: block;
	width: 250px;
  	font-size: 18px;
  	color: black;
  	line-height: 1.2;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	margin-top: 20px;
	padding-bottom: 11%;
	resize: none;
}

.input-form-nuovoBlog{
	height: 100px;
	display: block;
	width: 60%;
	max-width: 60%;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	color: black;
  	line-height: 1.2;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	margin-top: 20px;
	padding-bottom: 11%;
	resize: none;
	margin-left: 20%;
}

.container-form-button{
	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	margin-top: 20px;
	margin-bottom: 10px;
}

.form-button{
	color: rebeccapurple;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	outline: none;
	transition: 0.3s;
}

.form h1{
	color: black;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform: uppercase;
	padding-left: 15px;
}

/*Css per la form e la pagina di registrazione */
.informazioni-richieste{
	text-align: center;
}

.spaziaturahr{
	border: none;
	height: 60px;
	width: 50%;
	color: none;
	background-color:none
}

.modifica-profilo{
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	color: black;
  	line-height: 1.2;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	height: 20px;
	display: block;
  	width: 60%;
	max-width: 60%;
	margin-top: 20px;
	margin-left: 20%;
	resize: none;
}

.descrizioneparam{
	height: 100px;
	width: 400px;
	resize: none;
}

/* STILE BOTTONI CONFERMA/ELIMINA/VARI */
.bottone_conferma{
    display:inline-block;
    padding:0.6em 1em;
    border:none;
    margin:0.2em 0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"arial";
    font-weight:300;
    color:white;
    border-radius:3em;
    text-align:center;
    transition: 0.1s;
    background:rgb(100, 46, 170);
    cursor:pointer;
    font-weight:bold;
    letter-spacing: 0.05em;
}

  .bottone_conferma:hover{
    background:rgb(153, 51, 151);
	color: white;
}

  .bottone_conferma:active, .bottone_conferma:focus{
    background:rgb(169, 80, 217);
}


.bottone_elimina{
	display:inline-block;
    padding:0.6em 1em;
    border:none;
    margin:0.2em 0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"arial";
    font-weight:300;
    color:white;
    border-radius:3em;
    text-align:center;
    transition: 0.1s;
    background:red;
    cursor:pointer;
    font-weight:bold;
    letter-spacing: 0.05em;
}

	.bottone_elimina:hover{
		background:rgb(164, 0, 0);
		color: white;
}

	.bottone_elimina:active, .bottone_elimina:focus{
		background:rgb(169, 80, 217);
}

/* bottone notifiche homeUser */

.icon-button {
	position: absolute;
	top: 100px;
	right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	color: rebeccapurple;
	background: #dddddd;
	border: none;
	outline: none;
	border-radius: 50%;
  }

  .icon-button a:visited {
	color: rebeccapurple;
  }

  
  .icon-button:hover {
	cursor: pointer;
  }
  
  .icon-button:active {
	background: #cccccc;
  }
  
  .icon-button__badge {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 45px;
	height: 45px;
	background: rebeccapurple;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
  }