/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
:root{
--main-color: #5269fe;	
}


a {
	text-decoration: none;
}

#body{
	background-color: #5269fe;
}

.main{
	margin-top: 0;
	background-color: #5269fe;
}

#wrapper {
	width: 968px;
	margin: 0 auto;
	padding: 0;
}

/* titolo*/
#title{
	text-align: center;
	color: var(--main-color);
	font-weight: bold;
	font-size: 50px;
}

/* spazio  centrale*/
#main_content{
	background-color: transparent;
	float: left;
	width:35%;
	margin-left: 2%;
	margin-right: 2%;
}

/* elementi della parte main delle pag*/

.main_element{
	border: var(--main-color);
	border-style:solid;
	border-width: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: transparent;
	margin-top: 0;
}

/* spazio home destra */

#register_main{
	padding: 1px 1px 1px 1px;
	float: left;
	margin-right: 10%;
	width:19%;
}

/* domanda home destra*/
.domanda_register{
	padding-left: 10px;
	color: black;
	font-size: large;
	font-weight: bold;

}

/* invito home destra*/

.invito_register{
	padding-left: 15px;
	color: var(--main-color);
	font-size: small;

}

.register_option{
	text-align: center;
}



.register_button{

	background-color:transparent ;
	padding: 0px 30px;
    color: var(--main-color);
    font-size: 13px;
    font-weight: bold;
	padding-left: 60px;
	padding-right: 60px;
    border-color: var(--main-color);
	border-style:groove;
	border-width: 3px;
    border-radius: 20px;
    line-height: 30px;
	display:inline-flex;
}

/* spazio home sinistra (navbar)  */

#nav{
    width: 14%;
    float: left;
	margin-left: 14%;
}

/* navbar style*/

nav ul{
	list-style-type: none; /*levo il puntino a sinistra*/
}

nav ul li{
	margin-bottom: 5%;
}

nav ul li a{
	font-size: 25px;
	font-weight: bold;
	color: black;
}


/*footer*/

#footer {
	width: 100%;
	clear:left;
}






/* Search */

#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 968px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
	line-height: normal;
}



#menu a {
	display: block;
	margin-top: 10px;
	margin-right: 3px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	border: none;
}

#menu a.highlight {
	color: #e88c8c;
}


#menu a:hover {
	text-decoration: underline;
}

/* Page */



/* Static */

.static {
	padding: 60px 20px 20px 20px;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 60px 20px 0 0;
}

#pagination {
	text-align :center;
}

#pagination a {
	border-bottom:none
}

/* Forms */

.formerror {
    background: none repeat scroll 0 0 #FFECEC;
    border: 3px solid #f93d00;
    height: auto;
    margin: 0 0 1px;
    text-align: center;

}

.errors {
	color: #f93d00;
        font-size: 12px;
}

.errors ul {
	line-height: 100%;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	padding: 60px 0 0 20px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 32px;
	padding: 8px 0 0 30px;
	background: url(images/img11.gif) no-repeat left top;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #417FDA;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

/* Calendar */



#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #B2B2B2;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #3D444F;
}

.tema_blog{
	color: var(--main-color);
	background-color: red;
	width:fit-content;

}

.stato_blog{
	float: right;
	color: black;
	background-color: rebeccapurple;

}

/* pop up */

.popup .overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
	display:none ;
}

.popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	background: linear-gradient(136deg,rgb(82,105,254) 0%, rgb(255,255,255) 100%);
	width: 450px;
	height:auto;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 30px;
}

.popup .close-btn{
	position: absolute;
	right:20px ;
	top: 20px;
	width: 30px;
	height: 30px;
	background: black;
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius:50% ;
}

.popup.active .overlay{
	display: block;
}

.popup.active .content{
	transition: all 600ms ease-in-out;
	transform: translate(-50%,-50%) scale(1);
}




/*  my input form */

.wrap-form{
	max-width: 300px;
 	border-radius: 2px;
  	position: relative;
	padding-left: 55px;
	

}

.wrap-element-form{
	width: 100%;
  	background-color: transparent;
	margin-top: 20px;
}

.label-form{
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 20px;
  	color: var(--main-color);
  	line-height: 1,5;
	margin-left: 10px;
}

.subtitleform{
	margin-left: 15px;
	font-size: small;
	color: #787878;

}

.input-form{
	display: block;
  	width: 80%; 
  	background: transparent;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	color: var(--main-color);
  	line-height: 1.2;
	margin-left: 15px;
	margin-right: 5px;
  	padding: 5px;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	margin-top: 5px;

}

.container-form-button{
	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	margin-top: 20px;
	margin-bottom: 10px;
}

.form-button{
	background-color: white;
	color: var(--main-color);
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif
}

.form h1{
	color: black;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform: uppercase;
	padding-left: 15px;
}


/* input form  prof*/

.wrap-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 12px;
}

.rs1-wrap-input {
  width: calc((100% - 30px) / 2);
}

.label-input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #555555;
  line-height: 1,5;
}

.input {
  display: block;
  width: 90%; 
  background: #f2f2f2;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #686868;
  line-height: 1.2;
  padding: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  margin-top: 5px;
}

.container-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrap-contact {
  max-width: 960px;
  background: #dbecf6;
  border-radius: 2px;
  padding: 30px 120px;
  position: relative;
}

.wrap-contact1 {
  max-width: 300px;
  background: #dbecf6;
  border-radius: 2px;
  padding: 30px 30px;
  position: relative;
}

.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.form-btn1 {
  justify-content: center;
  padding: 0 20px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #555555;
}